/*
    Les Variables

*/


:root {
    --bgMain: rgba(15,10,10,95%);
    --bgSecond: rgba(50,20,20,70%);
    --linkHover: rgb(150,20,20);
    --ecriture: rgba(220,220,220,1);
    --lien: rgba(130,130,130,1);
}

/*
    Les balises en général

*/

html {
    font-family: Arial
}

header {
    display: flex;
    background-color: var(--bgSecond);
    padding: 0rem 1rem 0rem 1rem;
    position: relative;
}



h1 {
    position: absolute;
    left: 50%;
    translate: -50%;
    
}

body {
    background-color: var(--bgMain);
    color: var(--ecriture);
    font-size: 1em;
}







a {
    text-decoration: none;
    color: var(--ecriture);
    padding: 0.2rem;
    border-radius: 0.5rem;
}

    a:hover {
        width: auto;
        height: auto;
        background-color: var(--linkHover);
        transition: 200ms;
    }

p {
    margin: 4rem;
    padding: 0rem 1rem;
}

ol {
    background-color: var(--bgSecond);
    margin: 250px;
    padding: 100px;
}




nav {
    background-color: var(--bgSecond);
    border-radius: 1rem;
    padding: 0rem 1rem;
}


/*
    Les classes

*/
.portail {
    justify-items: center;
    margin: auto;
    padding: 0rem 1rem;
    overflow: auto;
    width: fit-content;
}


.intro {
    width: 90vw;
    padding: 1rem 1rem 1rem 1rem;
    text-indent: 1.5rem;
    font-weight: 700;
}

    .intro a {
        color: var(--lien);
    }

.vide {
    color: black;
    font-size: 0.7rem;
}

.indice {
    font-size: 0.8rem;
}

.retour-portail {
    height: 4rem;
}
